<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head" />
<body>
	<!-- Barra de Navegación superior -->
	<nav th:replace="fragments/nav" />
	<div class="container">
		<h2 th:text='#{friendshipRequest.list.title}'>Peticiones de amistad</h2>
		<p th:text='#{friendshipRequest.list.subtitle}'>Las peticiones de amistad que has recibido son las siguiente:</p>
		<script th:inline="javascript">
			/*<![CDATA[*/
			$( "#updateButton" ).click(function() { 
					var numberPage = [[${param.page}]]; 
					var urlUpdate = '/friendshipRequest/list/update'; 
					if ( numberPage != null ){ 
						urlUpdate += "?page="+numberPage[0];
					} 
					$("#tableRequest").load(urlUpdate);
			}); /*]]>*/
		</script>
		<div class="table-responsive">
			<table class="table table-hover" th:fragment="tableMarks"
				id="tableRequest">
				<thead>
					<tr>
						<th th:text='#{users.list.email}'>email</th>
						<th th:text='#{users.list.name}'>nombre</th>
						<th class="col-md-1"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="request : ${requestList}">
						<td th:text="${request.sender.email}">Mail</td>
						<td th:text="${request.sender.name}">Nombre</td>
						<td>
						<button type="button" th:id="${'confirmButton' + request.id}"
									class="btn btn-info" th:text='#{users.list.requestFriendship.accept}'>Aceptar</button>
								<script th:inline="javascript">
										/*<![CDATA[*/$(
												"#confirmButton[[${request.id}]]")
												.click(
														function() {
															
															
														}); /*]]>*/
									</script>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<footer th:replace="fragments/pagination" />
	</div>
	<footer th:replace="fragments/footer" />
</body>
</html>
