<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head" />
<body>
	<!-- Barra de Navegación superior -->
	<nav th:replace="fragments/nav" />
	<div class="container">

		<h2 th:text="#{users}"></h2>

		<p th:text="#{users.list.subtitle}"></p>
		<div class="table-responsive">
			<table class="table table-hover">
				<thead>
					<tr>
						<th th:text="#{users.list.email}"></th>
						<th th:text="#{users.list.name}"></th>
						<th class="col-md-1"></th>
						<th class="col-md-1"></th>
						<th class="col-md-1"></th>
						<th class="col-md-1"></th>
						<th class="col-md-1"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:id=" 'tr' + ${user.id}" th:each="user : ${usersList}" th:object="${user}"
						th:if="${user.email} != ${#authentication.getPrincipal().getUsername()}">

						<td th:text="${user.email}"></td>
						<td th:text="${user.name}"></td>
						<td>

							<button type="button" th:id="${'removeButton' + user.id}"
								class="btn btn-danger" th:text='#{users.list.remove}'></button>
							<script th:inline="javascript">
										/*<![CDATA[*/$(
												"#removeButton[[${user.id}]]")
												.click(
														function() {												
															var removedUser = [[${user.id}]];
															$.post("/admin/removeUser", 
																	{						 
																	"removedUser" : removedUser
																	}); 
															$("#tr[[${user.id}]]").remove();
														}); /*]]>*/
									</script>

						</td>
						<td class="col-md-1"></td>
						<td class="col-md-1"></td>
						<td class="col-md-1"></td>
						<td class="col-md-1"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<footer th:replace="fragments/footer" />
</body>
</html>