@CHARSET "ISO-8859-1";

/* Sticky footer styles-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  text-align:center;
  line-height:60px
}

/* Sticky footer styles-------------------------------------------------- */

/* Color styles-------------------------------------------------- */
footer, .navbar {
	background-color:#003333;
}
body{
	background-image: url(/img/bg.jpg);
}

footer .container{
	background-color:#003333;
}

.container{
	background-color: rgba(255, 255, 255, 0.7);
}
.active a{
	border-color: #5bc0de !important;
	background-color: #5bc0de !important;
}
.pagination li:not(.active) a{
	color: #5bc0de !important;
}
/* Border styles-------------------------------------------------- */
body div:first-of-type{
	border-radius: 20px 20px 0px 0px;
}
body div:last-of-type{
	border-radius: 0px 0px 20px 20px;
}
body div:only-of-type{
	border-radius: 20px 20px 20px 20px;
}
.form-group{
	margin: 10px;
}

.container{
	margin: 10px, 20px;
}
.row{
	margin-top: 10px;
	margin-bottom: 10px;
}

