<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head" />
<body>
	<nav th:replace="fragments/nav" />
	<div class="container" style="text-align: center">
		<h2 th:text="#{welcome.message}"></h2>
		<p
			th:text="| #{home.registered.message} ${#authentication.getPrincipal().getUsername()} |">
		</p>
		<p>
	</div>

	<div class='container'>
		<h2 th:text='#{home.profile}'></h2>
		<div class='row'>
			<button id="btnSearchUser" class="btn btn-info col-4"
				th:text='#{home.btnSearchUser}'></button>

			<script type="text/javascript">
				document.getElementById("btnSearchUser").onclick = function() {
					location.href = "/user/list";
				};
			</script>
			<button id="btnFriendshipRequest" class="btn btn-info col-4"
				th:text='#{home.friendshipRequest}'></button>

			<script type="text/javascript">
				document.getElementById("btnFriendshipRequest").onclick = function() {
					location.href = "/friendshipRequest/list";
				};
			</script>

			<button id="btnSearchFriends" class="btn btn-info col-4"
				th:text='#{friends}'></button>

			<script type="text/javascript">
				document.getElementById("btnSearchFriends").onclick = function() {
					location.href = "/friendshipRequest/listFriends";
				};
			</script>

			<div class='span4'></div>
		</div>
	</div>

	<div class='container'>
		<h2 th:text="#{posts}"></h2>
		<div class='row'>
			<button id="btnListPost" class="btn btn-info col-3"
				th:text="#{posts}"></button>

			<script type="text/javascript">
				document.getElementById("btnListPost").onclick = function() {
					location.href = "/posts/list";
				};
			</script>
			<button id="btnCreatePost" class="btn btn-info col-3"
				th:text="#{posts.newone}"></button>

			<script type="text/javascript">
				document.getElementById("btnCreatePost").onclick = function() {
					location.href = "/posts/post";
				};
			</script>

		</div>
	</div>

	</div>
	<footer th:replace="fragments/footer" />
</body>
</html>